a{
    color: #000;
}
a:hover{
    color: #FC0A0A;
}
.clear{
    clear: both;
}
.right{
    float: right;   
}
.header-wrapper{
    border-bottom: 1px solid #dadada;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}
.main-wrapper{
    width: 1200px;
    margin: 0 auto;
    clear: both;
}
header{
	height: 80px;
}
main{
    margin-top: 80px;   
}
.logo{
    margin-top: 14px;
}
.logo a{
    margin: 0;   
}
.menu{
    margin-top: 15px !important;  
    width: 570px;
    margin: 0 auto;
}
.menu a{
    color: #000; 
    font-size: 17px;
    margin: 0px 10px; 
}

/*FIX IT*/
.buttons{
    margin-top: -64px;
}
.basket{
	background:#FC0A0A;
}
.profile{
	background:#000;
}
.basket a, .profile a, .search a{
	display: block;
	width: 80px;
	height: 80px;
	line-height: 50px;
	font-size: 30px;
}
.profile svg:hover{
    fill: #FC0A0A;   
}
.basket svg:hover{
    fill: #000;   
}
.svg-navbar{
	width: 80px;
	height: 80px;
	padding: 20px;
	fill: #fff;
}
.svg-search{
	fill: #000;
}
.svg-search:hover{
    fill: #FC0A0A;   
}



#slider{
    text-align: center;
    background: #f6f6f6;
}
#slider img{
    max-width: 1200px;   
}


#product-list{
    margin-top: 50px;
    margin-bottom: 50px;
    width: inherit;
    height: 500px;
    margin: 0 auto;
}
.title{
    font-size: 24px;   
}
#product-list .more{
    float: right;
    display: block;
}
.product{
    background: #f6f6f6;
    width: 310px;
    height: 380px;
    float: left;
    position: relative;
    margin: 0 45px;
}
.discount{
    width: 65px;
    height: 22px;
    line-height: 22px;
    display: block;
    background: #feff01;
    text-align: center;
    position: absolute;
    right: 0;
}
.product-img{
    text-align: center;
    padding-top: 60px;
}
.product_name{
    color: #000;
    text-transform: uppercase;
    position: absolute;
    left: 15px;
    bottom: 55px;
}
.action_block{
    position: absolute;
    bottom: 0;
}
.action_block .price,.size, .product .basket{
    float: left;
    color: #fff;
    font-size: 20px;
    line-height: 58px;
}
.action_block .price{
    width: 190px;
    height: 60px;
    background: #000;
    padding-left: 20px;
}
.action_block .size{
    width: 60px;
    height: 60px;
    background: #feff01;
    text-align: center;
    color: #000;
}
.product .basket{
    width: 60px;
    height: 60px;
}
.product .svg-basket{
	  width: 60px;
      height: 60px;
      padding: 15px;
      fill: #fff;
}

.banner{
    clear: both;   
}

.galery .row{
    margin: 13px 0;
}
.galery{
    padding: 60px 0;   
}



footer{
    background: #000; 
    padding: 60px 0;
}
.footer-menu{

}
.footer-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu p{
    font-size: 26px; 
    color: #FC0A0A;
    border-bottom: 1px solid #FC0A0A;
    width: 100%;
}
.footer-menu a{
    color: #fff; 
    font-size: 16px;
}
.social-icons .svg-social{
    width: 30px;
	height: 30px;
	padding: 0px;
    fill: #fff;   
}
.social-icons{
    margin-left: 30px;   
}
.social-icons a{
      padding: 15px 5px;
      display: block;
      float: left;
}





/*Products page style*/
.wrap{
    background: #ebebeb;   
}
aside{
    width: 22%;
    margin-top: 80px;
    box-shadow: 2px 1px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    float: left;
}
.products-page{
    margin-top: 80px;
    width: 78%;
    float: left; 
}
.products-page .product{
    margin: 0 10px;   
}
.products-page #product-list{
    width: auto;   
    padding: 0px 44px;
}
#products-pagination{
    height: 100px;
    background: #b5b5b5;
    color: #fff;
    font-size: 16px;
    padding: 29px;
    margin-bottom: 64px;
    line-height: 40px;
}


#products-pagination span{
    display: block;
    float: left;
    width: 27%;
}
#pagi{
    width: 47%;
    height: 40px  ;
    float: left;   
}

#pagi span{
    width: auto;   
}

#products-pagination .number{
    color: #000;
    background: #fff;
    width: 44px;
    height: 40px;
    margin: 0 6px;
    line-height: 42px;
    float: left;
    text-align: center;
}
#products-pagination select{
    color: #000; 
    height: 41px;
    border: 0;
    float: right;
}

.product-wrap{
    width: 33%;
    float: left; 
}

/*left menu style*/
aside .category, aside .price, aside .size{
    padding: 18px 0px 0px 34px;
    border-bottom: 2px solid #e6e6e6;
}

.category a, aside .price a, aside .size a{
    text-transform: uppercase;
    font-size: 20px;
    color: #bfbfbf;
    line-height: 37px;
}

.category a:hover, aside .price a:hover, aside .size a:hover{
    text-decoration: none;  
}
.subcategory{
    padding: 0;   
}
.subcategory a{
    color: #000;  
    text-transform: none;
    line-height: 50px;
}
.subcategory li{
     margin-left: 30px;
    list-style: disc;
}
.subcategory li a{
    font-size: 16px;
    line-height: 30px;    
}
.subcategory li a:hover{
    color: #FC0A0A;   
}
/*end left menu style*/

/*price style*/
aside .price, aside .size{
    height: 180px;
}

aside .price input{
    width: 100px;
    height: 50px;
    border: 0;
}
aside .price .from{
    border-right: 1px solid #000;  
}
aside .price .to input{
    border: 1px solid #000;
}
aside .price .from input{
    background: #ebebeb;   
}
aside .price .from, aside .price .to{
    width: 120px;
    height: 73px;
    float: left;
    margin-top: 15px;
    margin-left: 17px;
    padding-top: 3px;
}

aside .price .from input, aside .price .to input{
    text-align: center;
    font-size: 24px;
}



/*end price style*/

/*size style*/
aside .size{
    color: #000;  
    height: 280px;
}

aside .size .check-block{
    float: left;
    width: 82px;
    height: 44px;    
}
aside .size .check-block input{
    margin-right: 5px;   
}
aside .size .size-wrap{
    padding-left: 20px;  
}
aside .size input[type="submit"]{
    width: 80%;
    height: 46px;
    margin-top: 30px;
    color: #fff;
    border: 0;
    background: #000;
}
aside .size .reset{
    font-size: 14px;
    text-transform: none;
    color: #000;
    text-decoration: underline;
}

aside .size .reset:hover{
    text-decoration: none;
}

/*end size style*/


/*item style*/
main .wrap{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}

#breadcrumbs{
    padding: 30px 0;   
}
#breadcrumbs a{
    color: #7f7f7f;   
}
#breadcrumbs a:hover{
    color: #FC0A0A;
}
#breadcrumbs .active{
    color: #FC0A0A;    
}
#cart{
    width: 1200px;
    height: 580px;
    margin: 0 auto;   
}
#cart .img-slide{
    float: left;
}
#cart .description{
    float: left;
    background: #fff;
    margin-left: 70px;
}
#cart .description .price{
    float: left;
    color: #FC0A0A;
    font-size: 24px;
    line-height: 47px
}
#cart .description .size{
    clear: both;  
    color: #000;
    width: 365px;
}
#cart .description .size span{
    float: left;
    font-size: 15px;
    line-height: 35px;
}
#cart .description .size a{
    font-size: 15px;
    color: #7f7f7f;
    text-decoration: underline;
    margin-left: 10px;
    line-height: 35px;
}
#cart .description .size .button{
    display: block;
    width: 52px;
    height: 52px;
    text-align: center;
    border: 1px solid #000;
    line-height: 49px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
#cart .description .size .empty{
    color: #7f7f7f;
    border-color: #7f7f7f;
}
#cart .description .size .empty:hover{
    color: #7f7f7f !important;
    background: #fff !important;
}
#cart .description .size .button:hover{
    background: #000;
    color: #fff;
}
#cart .description .in-cart{
    float: left;
    background: #FC0A0A;
    color: #fff;
    width: 300px;
    height: 56px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    margin-top: 35px;
}
#cart .description .in-cart:hover{
    text-decoration: none;
}

/*end item style*/ 
    
/* Effect 21: borders slight translate */
.cl-effect-21 a {
	padding: 10px;
	color: #000;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #FC0A0A;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #FC0A0A;
    background-color: #fff !important;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to horizontally align the gallery of items */
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.cd-item-remove{
     text-indent: 100%;
}

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
     
  overflow: hidden;
  white-space: nowrap;
}



header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: #fff;
  text-align: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 4;
}

#main-nav, #cd-cart {
  position: fixed;
  top: 0;
  width: 260px;
  /* header height */
  padding-top: 50px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  #main-nav, #cd-cart {
    width: 360px;
  }
}
@media only screen and (min-width: 1200px) {
  #main-nav, #cd-cart {
    width: 360px;
    /* header height has changed */
    padding-top: 80px;
  }
}

#main-nav {
  left: -100%;
  background: #FFF;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
}
#main-nav.speed-in {
  left: 0;
}
#main-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  border-bottom: 1px solid #e0e6ef;
}
#main-nav ul .current {
  box-shadow: inset 3px 0 #435779;
}
@media only screen and (min-width: 1200px) {
  #main-nav {
    /* reset main nav style */
    position: absolute;
    height: auto;
    width: auto;
    left: auto;
    right: 8em;
    padding-top: 0;
    top: 0;
    background: transparent;
    box-shadow: none;
    /* header height */
    line-height: 80px;
    z-index: 4;
  }
  #main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  #main-nav ul a {
    display: inline-block;
    height: auto;
    line-height: 1;
    padding: 1em 1.4em;
    border-bottom: none;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
  }
  #main-nav ul a.current {
    box-shadow: none;
    background: #435779;
    color: #FFF;
  }
  .no-touch #main-nav ul a:hover {
    background: #435779;
    color: #FFF;
  }
}
.no-js #main-nav {
  position: fixed;
}

#cd-cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}
#cd-cart.speed-in {
  right: 0;
}
#cd-cart > * {
  padding: 0 1em;
}
#cd-cart h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 1em 0;
}
#cd-cart .cd-cart-items {
  padding: 0;
}
#cd-cart .cd-cart-items li {
  position: relative;
  line-height: 16px;
  border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
  color: #a5aebc;
}
#cd-cart .cd-price {
  margin-top: .4em;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../img/cd-remove-item.svg") no-repeat center center;
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #feff01;
}
#cd-cart .cd-cart-total {
    line-height: 32px
    text-align: center;
}
#cd-cart .cd-cart-total span  {
    color: #FC0A0A;
}
#cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8;
}

#cd-cart .cd-go-to-cart{
    width: 360px;
    height: 50px;
    background: #000;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 52px;
    font-size: 18px;
}
#cd-cart .cd-go-to-cart:hover{
    background: #FC0A0A;
    text-decoration: none;
}
@media only screen and (min-width: 1200px) {
  #cd-cart > * {
    padding: 0 3em;
  }
  #cd-cart .cd-cart-items li {
    padding: 1em 2em;
  }
  #cd-cart .cd-item-remove {
    right: 2em;
  }
}


/*profile*/
#main-nav, #cd-profile {
  position: fixed;
  top: 0;
  width: 260px;
  /* header height */
  padding-top: 50px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  #main-nav, #cd-profile {
    width: 360px;
  }
}
@media only screen and (min-width: 1200px) {
  #main-nav, #cd-profile {
    width: 360px;
    /* header height has changed */
    padding-top: 80px;
  }
}

#cd-profile {
    right: -100%;
    background: #FFF;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
    padding: 20px 0px;
    margin-top: 80px;
}
#cd-profile a{
    color: #000;
    text-decoration: none;
    float: left;
    width: 200px;
    line-height: 30px;
}
#cd-profile a:hover{
    color: #FC0A0A;
}
#cd-profile.speed-in {
  right: 0;
}
#cd-profile > * {
  padding: 0 1em;
}
#cd-profile h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 1em 0;
}
#cd-profile .cd-cart-items {
  padding: 0;
}
#cd-profile .cd-cart-items li {
  position: relative;
  line-height: 16px;
  border-top: 1px solid #e0e6ef;
}
#cd-profile .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cd-profile .cd-qty, #cd-cart .cd-price {
  color: #a5aebc;
}
#cd-profile .cd-price {
  margin-top: .4em;
}
#cd-profile .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../img/cd-remove-item.svg") no-repeat center center;
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #feff01;
}
#cd-profile .cd-cart-total {
    line-height: 32px
    text-align: center;
}
#cd-profile .cd-cart-total span  {
    color: #FC0A0A;
}
#cd-profile .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-profile .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
.no-touch #cd-profile .checkout-btn:hover {
  background: #a2dda8;
}

#cd-profile .cd-go-to-cart{
    width: 360px;
    height: 50px;
    background: #000;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 52px;
    font-size: 18px;
}
#cd-profile .cd-go-to-cart:hover{
    background: #FC0A0A;
    text-decoration: none;
}
@media only screen and (min-width: 1200px) {
  #cd-profile > * {
    padding: 0 3em;
  }
  #cd-profile .cd-cart-items li {
    padding: 1em 2em;
  }
  #cd-profile .cd-item-remove {
    right: 2em;
  }
}





#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}


